<div class="question">

  <div class="text">
    <%= question.text %>
    <div class="meta"><%= l(question.created_at) %></div>
  </div>

  <% if question.answer %>
    <div class="answer">
      <%= question.answer %>
      <div class="meta"><%= l(question.answered_at) %></div>
    </div>
  <% end %>

  <div class="actions">
    <% unless question.answer %>
      <%= link_to t('.answer'), edit_question_path(question.id) %> | 
    <% end %>
    <%= link_to t('.destroy'), question_path(question.id), 'data-method' => 'delete', 'data-confirm' => t('.destroy_confirmation') %>
  </div>

</div>