<div class="question">

  <div class="text ico">
    <%=raw collection.excerpt_for(h(question.text), :limit => 0) %>
    <div class="meta"><%= l(question.created_at) %></div>
  </div>

  <div class="answer ico">
    <%=raw collection.excerpt_for(h(question.answer), :limit => 0) %>
    <div class="meta"><%= l(question.answered_at) %></div>
  </div>

  <div class="actions">
    <%= link_to t('.destroy'), question_path(question.id), 'data-method' => 'delete', 'data-confirm' => t('.destroy_confirmation') %> &sdot
    <%= link_to t('.show', :id => question.id), question_path(question.id) %>
  </div>

</div>