<%= simple_form_for(:search, :html => {:method => :get}) do |f| %>
  <%= f.input :query %>
  <div class="actions">
    <%= f.submit t('.submit') %>
  </div>
<% end %>

<div class="questions search">
  <% if @search %>
    <% if @questions.blank? %>
      <div class="empty"><%= t('.empty') %></div>
    <% else %>
      <div class="totals meta"><%= t('.totals', :count => @questions.total_entries) %></div>
      <%= render :partial => 'question', :collection => @questions %>
      <%= will_paginate(@questions) %>
    <% end %>
  <% end %>
</div>
